doctype html
html
    body
        p Last Sicho was on:
        div(id="lastSichoDate")
        p Time since last sicho:
        div(id="timer_div")
        p New sicho?
        p Excuse:
        div(id="reasons")
            input(type="radio" id="specialRadio" class="radioButton" name="reasons") 
            input(type="text" id="newExcuse" name="new_excuse") 
            <br>
        button(type="button" id="reportButton") Report
script(src="javascripts/MooTools-Core-1.6.0.js")
script(src="javascripts/script.js")
